body {
    font-family: Arial, sans-serif;
    font-size: 2vw;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}

.content {
    margin-bottom: 2rem;
}

/* パノラマビュー部分 */
.pano-container {
    display: flex;
    justify-content: center; /* 横方向の中央揃え */
    align-items: center;     /* 縦方向の中央揃え */
    height: 50vh;           /* 親要素の高さを画面いっぱいに */
}

#panorama {
    width: 50%;
    height: auto;
    aspect-ratio: 2 / 1; /* 横:縦 = 2:1 の比率を設定 */
    object-fit: cover; /* 画像のトリミング方法を調整 */
}

/* サムネイル部分 */
.panorama-navs {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-left: -3px;
    margin-right: -3px;
}

.panorama-navs li {
    width: calc(100% / 7);
    padding: 3px 5px;
}

.panorama-navs li > a {
    display: inline-block;
    background-color: #fff;
}

.panorama-navs li > a > img {
    width: 100%;
    height: auto;
}

.panorama-navs li > a:hover img {
    opacity: 0.65;
    cursor: pointer;
}

footer {
    background: #f4f4f4;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

/* 画像上に星マークを表示 */
.banquet_map{
    width:75%;
    height: auto;
}

.star-image-container {
    position: relative;
    display: inline-block;
}

.star-wrapper {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-wrapper img {
    display: block;
}

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);/* 横方向の位置調整 */
    font-size: 5vw;
    color: red;
}
