body {
    font-family: Arial, sans-serif;
    font-size: 2vw;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color:#000000
}

header {
    background: #000000;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}

.content {
    text-align: left;
    margin-bottom: 2rem;
}

/* パノラマビュー部分 */
.pano-container {
    display: flex;
    justify-content: center; /* 横方向の中央揃え */
    align-items: center;     /* 縦方向の中央揃え */
    height: 50vh;           /* 親要素の高さを画面いっぱいに */
}

/* MAP画像 */
#map_image {
    max-width: 50%;
    max-height: 100%;
    object-fit: contain;
    margin-right: 1%;
    display: block;
    aspect-ratio: 2 / 1; /* 横:縦 = 2:1 の比率を設定 */
}

/* パノラマ画像 */
#panorama {
    max-width: 50%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin-left: 1%;
    aspect-ratio: 2 / 1; /* 横:縦 = 2:1 の比率を設定 */
}

/* サムネイル部分 */
.panorama-navs {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4列 */
    /*gap: 2vw; /* 各サムネイル間の隙間 */
    list-style: none;
    padding: 0;
    margin-top: 0.5vw;
}

.panorama-navs li {
    width: 80%;
    padding: 3px 5px;
    margin: 0 auto;
}

.panorama-navs li > a {
    display: inline-block;
    background-color: #fff;
}

.panorama-navs li > a:hover img {
    opacity: 0.65;
    cursor: pointer;
}

.thumbnail-container {
    position: relative;
    height: auto;
    width: 100%;
    aspect-ratio: 2 / 1; /* 長方形にする */
    overflow: hidden;
}

.thumbnail-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画像を正方形内に調整 */
}

.thumbnail-label {
    position: absolute;
    bottom: 0.5vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* 半透明の背景 */
    color: #fff;
    padding: 5px 10px;
    font-size: 2vw;
    border-radius: 5px;
    white-space: nowrap;
}

footer {
    background: #000000;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}